pipeline/Incremantal_Load.json
{
	"name": "Incremantal_Load",
	"properties": {
		"description": "Pipeline Start\n      |\n      V\n[Lookup Activity]\nLast_cdc\n(Read cdc.json)\n      |\n      |\n      +----------------+\n      |                |\n      V                V\n[Set Variable]   current\n(Store utcNow())\n      |\n      +----------------+\n               |\n               V\n[Copy Activity]\nAzureToADLS\n(Incremental SQL Load)\n      |\n      V\n[If Condition]\nincremental Model\n(dataRead > 0 ?)\n      |\n   +--+--+\n   |     |\n   |     |\n NO      YES\n   |      |\n   V      V\n[Delete] [Script]\nDelete   max_cdc\nEmptyFile(Get MAX CDC)\n            |\n            V\n      [Copy Activity]\n      update_last_cdc\n      (Update cdc.json)\n            |\n            V\n      Pipeline End",
		"activities": [
			{
				"name": "AzureToADLS",
				"description": "In this step, we execute a dynamic SQL query to extract records that were added or updated after the last processed CDC (watermark) value and load the incremental data into the Bronze layer of the data lake.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last_cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table} where @{pipeline().parameters.p_cdc_col} > '@{if(empty(pipeline().parameters.p_fromDate),activity('Last_cdc').output.value[0].cdc,pipeline().parameters.p_fromDate)}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_Data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parq_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "bronze",
							"p_folder": {
								"value": "@pipeline().parameters.p_table",
								"type": "Expression"
							},
							"p_file": {
								"value": "@concat(pipeline().parameters.p_table,'_',variables('v_current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Last_cdc",
				"description": "this lookup Activity takes the last Updated value from cdc.json",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "bronze",
							"p_filename": "cdc.json",
							"p_folder": "@{pipeline().parameters.p_table}_cdc"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "current",
				"description": "this variable holds the current date value",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_current",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "incremental Model",
				"description": "Here we are adding and if condition to check if the files has data or no if files has data > 0 then the file is created else the file with 0 data which is created will be deleted",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AzureToADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('AzureToADLS').output.dataRead,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "DeleteEmptyFile",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Parq_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_folder": {
											"value": "@pipeline().parameters.p_table",
											"type": "Expression"
										},
										"p_file": "@concat(pipeline().parameters.p_table,'_',variables('v_current'))"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "update_last_cdc",
							"description": "Here we are updating the old cdc value.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "max_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_filename": "empty.json",
										"p_folder": {
											"value": "@{pipeline().parameters.p_table}_cdc",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "bronze",
										"p_filename": "cdc.json",
										"p_folder": "@{pipeline().parameters.p_table}_cdc"
									}
								}
							]
						},
						{
							"name": "max_cdc",
							"description": "in this script we are running a query to find the last updated data value i.e max cdc value from the table",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Azure_sql_Project",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "SELECT MAX(@{pipeline().parameters.p_cdc_col}) as cdc from @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_schema": {
				"type": "string"
			},
			"p_table": {
				"type": "string"
			},
			"p_cdc_col": {
				"type": "string"
			},
			"p_fromDate": {
				"type": "string"
			}
		},
		"variables": {
			"v_current": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-22T16:02:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}