dfazureproject336/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfazureproject336"
		},
		"Azure_ADLS_Project_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Azure_ADLS_Project'"
		},
		"Azure_sql_Project_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Azure_sql_Project'"
		},
		"Azure_ADLS_Project_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageazure336.dfs.core.windows.net/"
		},
		"Azure_sql_Project_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "azureproject336.database.windows.net"
		},
		"Azure_sql_Project_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "adfarhan"
		},
		"Azure_sql_Project_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "farhan"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Incremantal_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline Start\n      |\n      V\n[Lookup Activity]\nLast_cdc\n(Read cdc.json)\n      |\n      |\n      +----------------+\n      |                |\n      V                V\n[Set Variable]   current\n(Store utcNow())\n      |\n      +----------------+\n               |\n               V\n[Copy Activity]\nAzureToADLS\n(Incremental SQL Load)\n      |\n      V\n[If Condition]\nincremental Model\n(dataRead > 0 ?)\n      |\n   +--+--+\n   |     |\n   |     |\n NO      YES\n   |      |\n   V      V\n[Delete] [Script]\nDelete   max_cdc\nEmptyFile(Get MAX CDC)\n            |\n            V\n      [Copy Activity]\n      update_last_cdc\n      (Update cdc.json)\n            |\n            V\n      Pipeline End",
				"activities": [
					{
						"name": "AzureToADLS",
						"description": "In this step, we execute a dynamic SQL query to extract records that were added or updated after the last processed CDC (watermark) value and load the incremental data into the Bronze layer of the data lake.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Last_cdc",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "current",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table} where @{pipeline().parameters.p_cdc_col} > '@{if(empty(pipeline().parameters.p_fromDate),activity('Last_cdc').output.value[0].cdc,pipeline().parameters.p_fromDate)}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQL_Data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parq_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "bronze",
									"p_folder": {
										"value": "@pipeline().parameters.p_table",
										"type": "Expression"
									},
									"p_file": {
										"value": "@concat(pipeline().parameters.p_table,'_',variables('v_current'))",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Last_cdc",
						"description": "this lookup Activity takes the last Updated value from cdc.json",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Json_dynamic",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "bronze",
									"p_filename": "cdc.json",
									"p_folder": "@{pipeline().parameters.p_table}_cdc"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "current",
						"description": "this variable holds the current date value",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_current",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "incremental Model",
						"description": "Here we are adding and if condition to check if the files has data or no if files has data > 0 then the file is created else the file with 0 data which is created will be deleted",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "AzureToADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('AzureToADLS').output.dataRead,0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "DeleteEmptyFile",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Parq_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "bronze",
												"p_folder": {
													"value": "@pipeline().parameters.p_table",
													"type": "Expression"
												},
												"p_file": "@concat(pipeline().parameters.p_table,'_',variables('v_current'))"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "update_last_cdc",
									"description": "Here we are updating the old cdc value.",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "max_cdc",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "cdc",
													"value": {
														"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "bronze",
												"p_filename": "empty.json",
												"p_folder": {
													"value": "@{pipeline().parameters.p_table}_cdc",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "bronze",
												"p_filename": "cdc.json",
												"p_folder": "@{pipeline().parameters.p_table}_cdc"
											}
										}
									]
								},
								{
									"name": "max_cdc",
									"description": "in this script we are running a query to find the last updated data value i.e max cdc value from the table",
									"type": "Script",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "Azure_sql_Project",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "SELECT MAX(@{pipeline().parameters.p_cdc_col}) as cdc from @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table}",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_schema": {
						"type": "string"
					},
					"p_table": {
						"type": "string"
					},
					"p_cdc_col": {
						"type": "string"
					},
					"p_fromDate": {
						"type": "string"
					}
				},
				"variables": {
					"v_current": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-22T16:02:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Data')]",
				"[concat(variables('factoryId'), '/datasets/Parq_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/Json_dynamic')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_sql_Project')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Loop_Incremantal_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline Start\n      |\n      V\n[ForEach Activity]\nForEach1\n(Iterates through metadata)\n      |\n      V\n------------------------------------------------\nFor Each Table\n------------------------------------------------\n      |\n      V\n[Lookup Activity]\nLast_cdc\n(Read cdc.json watermark)\n      |\n      |\n      +----------------+\n      |                |\n      V                V\n[Set Variable]    current\n(Store utcNow())\n      |\n      +----------------+\n               |\n               V\n[Copy Activity]\nAzureToADLS\n(Incremental SQL Load)\n      |\n      V\n[If Condition]\nincremental Model\n(dataRead > 0 ?)\n      |\n   +--+--+\n   |     |\n NO       YES\n   |       |\n   V       V\n[Delete] [Script]\nDelete    max_cdc\nEmptyFile (Find MAX CDC)\n              |\n              V\n        [Copy Activity]\n        update_last_cdc\n        (Update cdc.json)\n              |\n              V\n      Next Table in ForEach\n              |\n              V\n        Pipeline End",
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.loop_input",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "AzureToADLS",
									"description": "In this step, we execute a dynamic SQL query to extract records that were added or updated after the last processed CDC (watermark) value and load the incremental data into the Bronze layer of the data lake.",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Last_cdc",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "current",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from @{item().schema}.@{item().table} where @{item().cdc_col} > '@{if(empty(item().from_Date),activity('Last_cdc').output.value[0].cdc,item().from_Date)}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SQL_Data",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Parq_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "bronze",
												"p_folder": {
													"value": "@item().table",
													"type": "Expression"
												},
												"p_file": {
													"value": "@concat(item().table,'_',variables('v_current'))",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Last_cdc",
									"description": "this lookup Activity takes the last Updated value from cdc.json",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "Json_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "bronze",
												"p_filename": "cdc.json",
												"p_folder": {
													"value": "@{item().table}_cdc",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "current",
									"description": "this variable holds the current date value",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_current",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "incremental Model",
									"description": "Here we are adding and if condition to check if the files has data or no if files has data > 0 then the file is created else the file with 0 data which is created will be deleted",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "AzureToADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(activity('AzureToADLS').output.dataRead,0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "DeleteEmptyFile",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "Parq_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"p_container": "bronze",
															"p_folder": {
																"value": "@item().table",
																"type": "Expression"
															},
															"p_file": {
																"value": "@concat(item().table,'_',variables('v_current'))",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": true,
														"enablePartitionDiscovery": false
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "update_last_cdc",
												"description": "Here we are updating the old cdc value.",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "max_cdc",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "JsonSource",
														"additionalColumns": [
															{
																"name": "cdc",
																"value": {
																	"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "JsonReadSettings"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "Json_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"p_container": "bronze",
															"p_filename": "empty.json",
															"p_folder": {
																"value": "@{item().table}_cdc",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "Json_dynamic",
														"type": "DatasetReference",
														"parameters": {
															"p_container": "bronze",
															"p_filename": "cdc.json",
															"p_folder": {
																"value": "@{item().table}_cdc",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "max_cdc",
												"description": "in this script we are running a query to find the last updated data value i.e max cdc value from the table",
												"type": "Script",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "Azure_sql_Project",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "SELECT MAX(@{item().cdc_col}) as cdc from @{item().schema}.@{item().table}",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"loop_input": {
						"type": "array",
						"defaultValue": [
							{
								"schema": "dbo",
								"table": "DimUser",
								"cdc_col": "updated_at",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimTrack",
								"cdc_col": "updated_at",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimDate",
								"cdc_col": "date",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "DimArtist",
								"cdc_col": "updated_at",
								"from_date": ""
							},
							{
								"schema": "dbo",
								"table": "FactStream",
								"cdc_col": "stream_timestamp",
								"from_date": ""
							}
						]
					}
				},
				"variables": {
					"v_current": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-22T16:05:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Data')]",
				"[concat(variables('factoryId'), '/datasets/Parq_dynamic')]",
				"[concat(variables('factoryId'), '/datasets/Json_dynamic')]",
				"[concat(variables('factoryId'), '/linkedServices/Azure_sql_Project')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_ADLS_Project",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_filename": {
						"type": "string"
					},
					"p_folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_ADLS_Project')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parq_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_ADLS_Project",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_folder": {
						"type": "string"
					},
					"p_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_ADLS_Project')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_sql_Project",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_sql_Project')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cdc_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_ADLS_Project",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_folder": {
						"type": "string"
					},
					"p_filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_ADLS_Project')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_ADLS_Project')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Azure_ADLS_Project_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Azure_ADLS_Project_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_sql_Project')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('Azure_sql_Project_properties_typeProperties_server')]",
					"database": "[parameters('Azure_sql_Project_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('Azure_sql_Project_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Azure_sql_Project_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}